:root {
  --background-black: #101C27;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #2488FF;
  --color-lightblue: #63A9FC;
  --color-green: #65B428;
  --color-pink: #FF60AC;
  --color-gray: #888;
  --button-gradient: linear-gradient(269.95deg, #FF04E6 0%, #1B90FF 100%);
  --example-gradient: linear-gradient(118.93deg, #810196 -0.54%, #340073 36.11%, #22124D 64.91%);
}

* {
  padding: 0;
  margin: 0;
}

html, 
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: var(--background-black);
  color: var(--color-white);
  font-feature-settings: 'pnum' on, 'lnum' on;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.limiter {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.text-gradient {
  background-image: var(--button-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.button {
  padding: 18px 40px;
  background: var(--button-gradient);
  border-radius: 8px;
  display: block;
  width: fit-content;
}

/* Главный экран */
.main-screen {
  background: url('./images/main_bg.jpg') no-repeat left/cover transparent;   
}

.main-screen_container {
  position: relative;
  padding-bottom: 120px; 
}

.main-screen_text {
  padding: 220px 0px 223px;
  max-width: 700px;
  display: grid;
  gap: 44px;
  position: relative;
  z-index: 1;
}

.main-screen_top-text p {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 6px;
}

.main-screen_top-text.animate {
  opacity: 0;
  transition: all 1s ease .3s;
}

.main-screen_top-text.animate.animated {
  opacity: 1;
}

.main-screen_bottom-text {
  font-size: 72px;
  font-weight: 300;
}

.main-screen_bottom-text b {
  font-weight: 700;
}

.main-screen_advantages {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  z-index: 1;
}

.main-screen_advantages li {
  display: flex;
  align-items: center;
}

.main-screen_advantages .count {
  font-size: 80px;
  font-weight: 700;
  margin-right: 30px;
}

.main-screen_advantage {
  font-weight: 300;
  font-size: 24px;
  max-width: 210px;
}

.balls {
  position: absolute;
  bottom: -60px;
  right: 70px;
  width: 840px;
  height: 100%;
  overflow: hidden;
}

.balls.animate img {
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
}

#ball_1 {
  left: 485px
}

#ball_2 {
  left: 256px
}

#ball_3 {
  left: 362px
}

#ball_4 {
  left: 557px
}

#ball_6 {
  left: 594px;
}

#ball_7 {
  left: 36px;
}

#ball_8 {
  left: 197px;
}

#ball_9 {
  left: 622px;
}

#ball_10 {
  left: 47px;
}

#ball_11 {
  left: 120px;
}

#ball_12 {
  left: 328px;
}

#ball_13 {
  left: 303px;
}

.balls.animated img {
  animation: bigBall5 8s ease;
}

.balls.animated #ball_1 {
  animation: bigBall1 8s ease;
}

.balls.animated #ball_2 {
  animation: bigBall2 8s ease;
}

.balls.animated #ball_3 {
  animation: bigBall3 8s ease;
}

.balls.animated #ball_4 {
  animation: bigBall4 8s ease;
}

.balls.animated #ball_5 {
  animation: bigBall5 8s ease;
}

.balls.animated #ball_6 {
  animation: bigBall6 8s ease;
}

.balls.animated #ball_7 {
  animation: bigBall7 8s ease;
}

.balls.animated #ball_8 {
  animation: bigBall8 8s ease;
}

.balls.animated #ball_9 {
  animation: bigBall9 8s ease;
}

.balls.animated #ball_10 {
  animation: bigBall10 8s ease;
}

.balls.animated #ball_11 {
  animation: bigBall11 8s ease;
}

.balls.animated #ball_12 {
  animation: bigBall12 8s ease;
}

.balls.animated #ball_13 {
  animation: bigBall13 8s ease;
}

@keyframes bigBall1 {
  0% {
    bottom: -3100px;
  }
  60% {
    bottom: 160px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall2 {
  0% {
    bottom: -2560px;
  }
  60% {
    bottom: 60px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall3 {
  0% {
    bottom: -1250px;
  }
  60% {
    bottom: 130px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall4 {
  0% {
    bottom: -2860px;
  }
  60% {
    bottom: 30px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall5 {
  0% {
    bottom: -950px;
  }
  60% {
    bottom: 30px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall6 {
  0% {
    bottom: -1580px;
  }
  60% {
    bottom: 70px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall7 {
  0% {
    bottom: -3100px;
  }
  60% {
    bottom: 300px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall8 {
  0% {
    bottom: -1760px;
  }
  60% {
    bottom: 90px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall9 {
  0% {
    bottom: -1940px;
  }
  60% {
    bottom: 290px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall10 {
  0% {
    bottom: -1700px;
  }
  60% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall11 {
  0% {
    bottom: -2300px;
  }
  60% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall12 {
  0% {
    bottom: -2310px;
  }
  60% {
    bottom: 150px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bigBall13 {
  0% {
    bottom: -1670px;
  }
  60% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}
/* /Главный экран */
/* Второй экран */
.many-types {
  padding-top: 120px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr calc(50% - 27px);
  gap: 95px;
  align-items: center;
}

.many-types_left {
  display: grid;
  gap: 35px;
}

.many-types_left h2 {
  font-weight: 300;
  font-size: 48px;
}

.many-types_left p {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 630px;
}

.many-types_left .button {
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.many-types_left .button:hover {
  text-decoration: underline;
}

.many-types_left .button::before {
  content: "";
  display: block;
  width: calc(100% + 6px);
  height: 100%;
  position: absolute;
  background: var(--button-gradient);
  border-radius: 8px;
  z-index: -1;
  top: -3px;
  left: -3px;
  opacity: .5;
}

.many-types_left .button::after {
  content: "";
  display: block;
  width: 146px;
  height: 54px;
  background: url('./images/toExample.svg') no-repeat center/contain transparent;
  position: absolute;
  top: calc(50% - 27px);
  right: -176px;
}

.many-types_right {
  position: relative;
}

.many-types_slider {
  counter-reset: manyTypes;
}

.many-types_item {
  padding: 80px 42px;
  background: #22124D;
  border-radius: 8px;
  display: grid;
  gap: 30px;
  counter-increment: manyTypes;
  position: relative;
  overflow: hidden;
}

.many-types_item::before {
  content: counter(manyTypes);
  position: absolute;
  background-image: var(--button-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  right: -130px;
    font-size: 600px;
  line-height: 1;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.05;
}

.many-types_item.many-types_white {
  background-color: var(--color-white);
  color: var(--color-black);
}

.many-types_item h3 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 21px;
  line-height: 34px;
}

.many-types_item ul {
  display: grid;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.many-types_item ul li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.many-types_item ul span {
  font-weight: 300;
}

.many-types_item .button {
  color: var(--color-white);
  padding: 8px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.many-types_item .button::before {
  content: "";
  display: block;
  width: calc(100% + 2px);
  height: 100%;
  position: absolute;
  background: var(--button-gradient);
  border-radius: 4px;
  z-index: -1;
  top: -2px;
  left: -2px;
  opacity: .5;
}

.many-types_item .button:hover {
  text-decoration: underline;
}

.many-types_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -58px;
  left: 0;
  right: 0;
}

.many-types_control {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('./images/arrow_slider.svg') no-repeat 55%/7px;
  background-color: var(--color-blue);
  cursor: pointer;
}

.many-types_control-left {
  transform: rotate(180deg);
}

.many-types_control[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: .5;
}

.many-types_nav {
  display: flex;
  align-items: center;
  margin: 0 18px;
}

.many-types_dot {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.many-types_dot:not(:first-child) {
  margin-left: 8px;
}

.many-types_dot:last-child {
  display: none;
}

.many-types_dot.active {
  background-color: var(--color-blue);
}
/* /Второй экран */
/* Третий экран */
.example {
  background: var(--example-gradient);
  border-radius: 15px;
  width: 100%;
  max-width: 1480px;
  margin: 97px auto 60px;
  padding: 45px 0px;
  position: relative;
}

.example::after {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 10px;
  right: 16px;
  height: 100%;
  border-radius: 15px;
  background: var(--example-gradient);
  opacity: .5;
  z-index: -1;
}

.product_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 60px;
}

.product_row > *:not(:last-child) {
  margin-right: 60px;
}

.product_photo {
  min-width: 345px;
}

.product_photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_text {
  max-width: 585px;
}

.product_text h2 {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 24px;
}

.product_description {
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 48px;
}

.product_characteristics {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 15px;
  justify-content: space-between;
}

.product_characteristic h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}

.product_characteristic ul {
  font-weight: 300;
  font-size: 14px;
  display: grid;
  gap: 12px;
}

.product_characteristic li {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.price_border {
  border-left: 1px dashed rgba(255, 255, 255, 0.1);
  align-self: stretch;
}

.product_price {
  display: grid;
  gap: 24px;
}

.product_price .old_price {
  font-weight: 300;
  font-size: 18px;
  text-decoration-line: line-through;
  margin-bottom: 6px;
}

.product_price .new_price {
  font-weight: 700;
  font-size: 36px;
}

.product_price-info {
  display: grid;
  gap: 12px;
  font-size: 14px;
  line-height: 18px;
  max-width: 170px;
}

.product_price .available {
  font-weight: 500; 
  color: var(--color-green);
  display: flex;
  align-items: center;
}

.product_price .available::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-green);
  border-radius: 50%;
  margin-right: 8px;
}

.product_price-info .pickup,
.product_price-info .delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product_price-info .pickup::after,
.product_price-info .delivery::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.1;
  border-bottom: 1px dashed #FFFFFF;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.product_price .promo {
  padding: 18px 19px;
  background: url('./images/border_promo.svg') no-repeat center/contain transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.product_price .promo span {
  white-space: nowrap;
  font-weight: 700;
  background: var(--button-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.example_tabs {
  padding: 0 68px;
}

.example_tabs .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}

.example_tabs .tabs > *:not(:last-child) {
  margin-right: 11px;
}

.example_tabs .tab {
  display: block;
  padding: 12px 31px;
  border: solid 1px transparent;
  border-radius: 4px;
  border-image: url('./images/border_tab.svg') 4 / 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.example_tabs .tab:not(.active):hover {
  text-decoration: underline;
}

.example_tabs .tab.active {
  background: var(--button-gradient);
  border: 0;
  cursor: default;
}

.example_products-wrap {
  display: none;
  position: relative;
}

.example_products-wrap.active {
  display: block;
}

.example_products-item {
  background-color: var(--color-white);
  padding: 24px 22px;
  color: var(--color-black);
  position: relative;
  border-radius: 6px;
}

.example_products-item .marker {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 3px 6px;
  background: var(--color-lightblue);
  border-radius: 4px;
  color: var(--color-white);
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 12px;
  font-weight: 700;
  font-size: 11px;
}

.example_products-image {
  margin-bottom: 24px;
}

.example_products-image img {
  display: block;
  height: 140px;
  object-fit: contain;
  margin: 0 auto;
}

.example_products-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 18px;
}

.example_products-prices {
  display: flex;
  align-items: baseline;
}

.example_products-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-right: 20px;
}

.example_products-oldprice {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: var(--color-blue);
}

.example_products-controls > * {
  display: block;
  width: 30px;
  height: 30px;
  background: url('./images/arrow_slider.svg') no-repeat 55%/7px var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
}

.example_products-left {
  transform: rotate(180deg);
}

.example_products-right {
  left: auto;
  right: -15px;
}
/* /Третий экран */
/* Четвертый экран */
.save-time {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(50% - 15px), 670px));
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 136px;
  margin-bottom: 116px;
}

.save-time_left {
  display: grid;
  gap: 30px;
}

.save-time_left h2 {
  font-weight: 300;
  font-size: 48px;
}

.save-time_left p {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 630px;
}

.save-time_right {
  justify-self: end;
}

.save-time_image {
  max-width: 655px;
  position: relative;
  margin-bottom: 25px;
  margin-right: 15px;
}

.save-time_image img {
  border-radius: 25px;
  display: block;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(10px -5px 20px rgba(0, 0, 0, 0.08));
}

.save-time_image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 14px;
  right: -15px;
  background-color: #E4E5E6;
  z-index: -1;
  border-radius: 25px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.advantage {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  border-left: 1px dashed #404952;
  padding: 0 10px;
}

.advantage:last-child {
  border-right: 1px dashed #404952;
}

.advantage img {
  display: block;
  max-height: 50px;
  object-fit: contain;
  margin-right: 23px;
}

.advantage p {
  max-width: 154px;
}
/* /Четвертый экран */
/* Тетрис */
.tetris {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  justify-content: space-between;
  align-items: end;
  margin-top: 120px;
  margin-bottom: 100px;
}

.tetris_left .text-gradient {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 6px;  
}

.tetris_left h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
}

.tetris_left p {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;  
}

.tetris_left .button {
  margin-top: 30px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.tetris_left .button::before {
  content: "";
  display: block;
  width: calc(100% + 6px);
  height: 100%;
  position: absolute;
  background: var(--button-gradient);
  border-radius: 8px;
  z-index: -1;
  top: -3px;
  left: -3px;
  opacity: .5;
}

.tetris_left .button::after {
  content: "";
  display: block;
  width: 146px;
  height: 54px;
  background: url('./images/toExample.svg') no-repeat center/contain transparent;
  position: absolute;
  top: calc(50% - 27px);
  right: -176px;
}

.tetris_right {
  position: relative;  
  height: 100%;
  overflow: hidden;
}

.tetris_right img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 342px;
  object-fit: contain;
  object-position: bottom;
  bottom: 750px;
  transform: rotate(180deg);
  transition: all .9s ease;
}

.tetris_right.animate #tetris_1 {
  transform: rotate(90deg);
  transition-delay: .3s;
}

.tetris_right.animate #tetris_2 {
  transform: rotate(90deg);
  transition-delay: 1.5s;
}

.tetris_right.animate #tetris_3 {
  transition-delay: 2.7s;
}

.tetris_right.animate #tetris_4 {
  transform: rotate(90deg);
  transition-delay: 4s;
}

.tetris_right.animate #tetris_5 {
  transform: rotate(0deg);
  transition-delay: 5.2s;
}

.tetris_right.animate #tetris_6 {
  transform: rotate(0deg);
  transition: all .9s ease 6.3s;
}

.tetris_right.animated [id^="tetris_"] {
  bottom: 0px !important;
  transform: rotate(0deg) !important;
}
/* /Тетрис */

/* Шестой блок */
.multiselect {
  background: var(--color-white);
  border-radius: 6px;
  width: 100%;
  max-width: 1480px;
  margin: 97px auto 60px;
  padding: 50px 70px;
  position: relative;
  color: var(--color-black);
}

.multiselect::before {
  content: "";
  display: block;
  position: absolute;
  top: -14px;
  bottom: 14px;
  left: 10px;
  right: 17px;
  background: var(--color-white);
  opacity: 0.5;
  border-radius: 8px;
  z-index: -1;
}

.multiselect h2 {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.multiselect h2 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-left: 15px;
  background: var(--color-blue);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
}

.multiselect_wrap {
  display: grid;
  grid-template-columns: 1fr 282px;
  gap: 24px;
}

.multiselect_left,
.multiselect_right {
  display: grid;
  gap: 24px;
}

.multiselect_list,
.multiselect_more {
  background-color: var(--color-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 24px;
  max-width: 1124px;
}

.multiselect_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
}

.multiselect_item:not(:last-child) {
  border-bottom: 1px dashed #E5E5E5;
}

.multiselect_item-marker {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 3px 6px;
  background: var(--color-lightblue);
  border-radius: 4px;
  color: var(--color-white);
  width: fit-content;
  position: absolute;
  top: 3px;
  left: 0px;
  font-weight: 700;
  font-size: 11px;
}

.multiselect_item-photo_text {
  display: flex;
  align-items: center;
}

.multiselect_item-photo {
  height: 90px;
  width: 100px;
  margin-right: 24px;
}

.multiselect_item-photo img {
  display: block;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.multiselect_item-text {
  flex: 1;
  max-width: 330px;
}

.multiselect_item-available {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-green);
  margin-bottom: 8px;
}

.multiselect_item-name {
  font-size: 14px;
  line-height:  18px;
}

.multiselect_item-bonuses {
  color: var(--color-blue);
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 12px;
}

.multiselect_item-bonuses span {
  font-weight: 700;
}

.multiselect_item-discount {
  font-size: 13px;
  color: var(--color-pink);
  border: 1px solid;
  padding: 6px 10px;
  border-radius: 4px;
}

.multiselect_item-prices {
  display: grid;
  gap: 4px;
}

.multiselect_item-oldprice {
  font-size: 13px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: var(--color-gray);
}

.multiselect_item-price {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

.multiselect_item-sum {
  font-size: 13px;
  line-height: 17px;
}

.multiselect_item-sum span {
  font-weight: 700;
  color: var(--color-blue);
}

.multiselect_more h3 {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 24px;
}

.multiselect_more .tabs {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
}

.multiselect_more .tab {
  display: block;
  padding: 9px 16px;
  border: solid 1px transparent;
  border-radius: 4px;
  border-image: url(./images/border_tab.svg) 4 / 4px;
  cursor: pointer;
}

.multiselect_more .tab.active {
  background: var(--button-gradient);
  border: 0;
  cursor: default;
  color: var(--color-white);
}

.multiselect_carousel {
  display: none;
  position: relative;
}

.multiselect_carousel.active {
  display: block;
}

.multiselect_carousel .example_products-item {
  border: 1px dashed #E5E5E5;
}

.multiselect_carousel-controls > * {
  display: block;
  width: 30px;
  height: 30px;
  background: url('./images/arrow_slider.svg') no-repeat 55%/7px var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
}

.multiselect_carousel-left {
  transform: rotate(180deg);
}

.multiselect_carousel-right {
  left: auto;
  right: -15px;
}

.multiselect_total {
  background: var(--color-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  height: fit-content;
  padding: 24px;
  position: relative;
  display: grid;
  gap: 12px;
}

.multiselect_total-marker {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--color-white);
  background: #FF2164;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.multiselect_total-prices {
  display: grid;
  gap: 6px;
}

.multiselect_total-oldprice {
  font-weight: 300;
  font-size: 18px;
  text-decoration-line: line-through;
}

.multiselect_total-price {
  font-weight: 700;
  font-size: 36px;
}

.multiselect_total-info {
  display: grid;
  gap: 14px;
  padding-bottom: 12px;
}

.multiselect_total-characteristics {
  display: flex;
  gap: 21px;
  color: var(--color-gray);
  font-size: 13px;
  line-height: 17px;
}

.multiselect_total-characteristics b {
  color: var(--color-black);
}

.multiselect_total-discount {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 17px;
  position: relative;
  max-width: 200px;
}

.multiselect_total-discount::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px dashed #E5E5E5;
  position: absolute;
  bottom: 4px;
  z-index: 0;
}

.multiselect_total-discount span {
  background-color: var(--color-white);
  position: relative;
  z-index: 1;
}
/* /Шестой блок */

@media (max-width: 1366px) {
  .limiter {
    max-width: 1180px;
  }

  .main-screen_container {
    padding-bottom: 44px; 
  }

  .main-screen_text {
    padding: 90px 0px 250px;
    max-width: 575px;
    gap: 40px;
  }

  .main-screen_bottom-text {
    font-size: 60px;
  }

  .main-screen_advantages .count {
    font-size: 60px;
  }

  .main-screen_advantage {
    font-size: 21px;
    max-width: 220px;
  }

  .balls {
    width: 645px;
    right: 45px;
  }

  .balls.animate img {
    transform: scale(0.74);
    bottom: -13px;
  }

  #ball_1 {
    left: 363px;
    bottom: 34px;
  }

  #ball_2 {
    left: 180px;
    bottom: 21px;
  }

  #ball_3 {
    left: 261px;
  }

  #ball_4 {
    left: 412px;
    bottom: 22px;
  }

  #ball_6 {
    left: 440px;
  }

  #ball_7 {
    left: 28px;
    bottom: 7px;
  }

  #ball_8 {    
    left: 139px;
    bottom: 3px;
  }

  #ball_9 {
    left: 460px;
    bottom: 0px;
  }

  #ball_10 {
    left: 35px;
    bottom: -6px;
  }

  #ball_11 {
    left: 89px;
    bottom: 3px;
  }

  #ball_12 {
    left: 202px;
    bottom: -3px;
  }

  #ball_13 {
    left: 224px;
    bottom: -18px;
  }

  @keyframes bigBall1 {
    0% {
      bottom: -3100px;
    }
    60% {
      bottom: 68px;
    }
    100% {
      bottom: 34px;
    }
  }
  
  @keyframes bigBall2 {
    0% {
      bottom: -2560px;
    }
    60% {
      bottom: 54px;
    }
    100% {
      bottom: 21px;
    }
  }
  
  @keyframes bigBall3 {
    0% {
      bottom: -1250px;
    }
    60% {
      bottom: 30px;
    }
    100% {
      bottom: -13px;
    }
  }
  
  @keyframes bigBall4 {
    0% {
      bottom: -2860px;
    }
    60% {
      bottom: 26px;
    }
    100% {
      bottom: 22px;
    }
  }
  
  @keyframes bigBall5 {
    0% {
      bottom: -950px;
    }
    60% {
      bottom: 0px;
    }
    100% {
      bottom: -13px;
    }
  }
  
  @keyframes bigBall6 {
    0% {
      bottom: -1580px;
    }
    60% {
      bottom: 30px;
    }
    100% {
      bottom: -13px;
    }
  }
  
  @keyframes bigBall7 {
    0% {
      bottom: -3100px;
    }
    60% {
      bottom: 80px;
    }
    100% {
      bottom: 7px;
    }
  }
  
  @keyframes bigBall8 {
    0% {
      bottom: -1760px;
    }
    60% {
      bottom: 68px;
    }
    100% {
      bottom: 3px;
    }
  }
  
  @keyframes bigBall9 {
    0% {
      bottom: -1940px;
    }
    60% {
      bottom: 62px;
    }
    100% {
      bottom: 0;
    }
  }
  
  @keyframes bigBall10 {
    0% {
      bottom: -1700px;
    }
    60% {
      bottom: 50px;
    }
    100% {
      bottom: -6px;
    }
  }
  
  @keyframes bigBall11 {
    0% {
      bottom: -2300px;
    }
    60% {
      bottom: 10px;
    }
    100% {
      bottom: 3px;
    }
  }
  
  @keyframes bigBall12 {
    0% {
      bottom: -2310px;
    }
    60% {
      bottom: 70px;
    }
    100% {
      bottom: -3px;
    }
  }
  
  @keyframes bigBall13 {
    0% {
      bottom: -1670px;
    }
    60% {
      bottom: -10px;
    }
    100% {
      bottom: -18px;
    }
  }

  .many-types {
    padding-top: 52px;
    grid-template-columns: 1fr 51%;
    gap: 80px;
  }

  .many-types_left h2 {
    font-size: 36px;
  }

  .many-types_left p {
    font-size: 14px;
    line-height: 25px;
    max-width: 500px;
  }

  .many-types_item {
    padding: 60px 24px;
    gap: 24px;
  }

  .many-types_controls {
    bottom: -84px;
  }

  .example {
    border-radius: 0;
    margin-top: 94px;
    padding: 30px 0 55px;
  }

  .example::after {
    display: none;
  }

  .product_row {
    padding: 0 98px 40px;
  }

  .product_row > *:not(:last-child) {
    margin-right: 30px;
  }

  .product_photo {
    min-width: 308px;
    height: 330px;
  }

  .product_text {
    max-width: 563px;
  }

  .product_text h2 {
    font-size: 30px;
  }

  .product_characteristic li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .example_tabs {
    padding: 0 96px;
  }

  .example_tabs .tabs {
    margin-bottom: 23px;
  }

  .example_products-item {
    padding: 18px 12px;
  }

  .save-time {
    margin-top: 70px;
    margin-bottom: 83px;
    grid-template-columns: repeat(2, minmax(calc(50% - 15px), 565px));
  }

  .save-time_left {
    gap: 24px;
  }

  .save-time_left h2 {
    font-size: 36px;
  }

  .save-time_left p {
    font-size: 14px;
    line-height: 25px;
    max-width: 545px;
  }

  .save-time_image {
    margin-bottom: 0;
  }

  .advantage {
    border: 0;
    padding: 0;
    padding-right: 10px;
    justify-content: start;
  }

  .advantage:last-child {
    border: 0;
    padding-right: 0;
  }

  .tetris_left h2 {
    font-size: 36px;
  }

  .tetris_left p {
    font-size: 14px;
    line-height: 25px;
  }
  
}

@media (max-width: 1200px) {
  .limiter {
    max-width: 960px;
  }

  .main-screen_text {
    max-width: 470px;
    padding: 86px 0px 81px;
    gap: 43px;
  }

  .main-screen_bottom-text {
    font-size: 48px;
  }

  .main-screen_advantages .count {
    font-size: 48px;
  }

  .main-screen_advantage {
    font-size: 16px;
    max-width: 140px;
  }

  .balls {
    bottom: -20px;
  }

  .balls.animate img {
    transform: scale(0.6);
  }

  #ball_13 {
    left: 251px;
    bottom: -172px;
  }

  #ball_12 {
    left: 208px;
    bottom: -153px;
  }

  #ball_11 {
    left: 142px;
    bottom: -144px;
  }

  #ball_10 {
    left: 97px;
    bottom: -154px;
  }

  #ball_9 {
    left: 445px;
    bottom: -149px;
  }

  #ball_8 {
    left: 176px;
    bottom: -141px;
  }

  #ball_7 {
    left: 93px;
    bottom: -136px;
  }

  #ball_6 {
    left: 428px;
    bottom: -165px;
  }

  #ball_5 {
    left: 70px;
    bottom: -166px;
  }

  #ball_4 {
    left: 405px;
    bottom: -113px;
  }

  #ball_3 {
    left: 276px;
    bottom: -169px;
  }

  #ball_2 {
    left: 210px;
    bottom: -115px;
  }

  #ball_1 {
    left: 368px;
    bottom: -94px; 
    display: block;
  }

  @keyframes bigBall1 {
    0% {
      bottom: -3100px;
    }
    60% {
      bottom: 40px;
    }
    100% {
      bottom: -94px;
    }
  }

  @keyframes bigBall2 {
    0% {
      bottom: -2560px;
    }
    60% {
      bottom: -25px;
    }
    100% {
      bottom: -115px;
    }
  }

  @keyframes bigBall3 {
    0% {
      bottom: -1250px;
    }
    60% {
      bottom: -129px;  
    }
    100% {
      bottom: -169px;
    }
  }

  @keyframes bigBall4 {
    0% {
      bottom: -2860px;
    }
    60% {
      bottom: -83px; 
    }
    100% {
      bottom: -113px; 
    }
  }

  @keyframes bigBall5 {
    0% {
      bottom: -950px;
    }
    60% {
      bottom: -126px;
    }
    100% {
      bottom: -166px;
    }
  }

  @keyframes bigBall6 {
    0% {
      bottom: -1580px;
    }
    60% {
      bottom: -125px;
    }
    100% {
      bottom: -165px;
    }
  }

  @keyframes bigBall7 {
    0% {
      bottom: -3100px;
    }
    60% {
      bottom: -36px;
    }
    100% {
      bottom: -136px;
    }
  }

  @keyframes bigBall8 {
    0% {
      bottom: -1760px;
    }
    60% {
      bottom: -60px;
    }
    100% {
      bottom: -141px;
    }
  }

  @keyframes bigBall9 {
    0% {
      bottom: -1940px;
    }
    60% {
      bottom: -55px;
    }
    100% {
      bottom: -149px;
    }
  }

  @keyframes bigBall10 {
    0% {
      bottom: -1700px;
    }
    60% {
      bottom: -90px;
    }
    100% {
      bottom: -154px;
    }
  }

  @keyframes bigBall11 {
    0% {
      bottom: -2300px;
    }
    60% {
      bottom: -70px;
    }
    100% {
      bottom: -144px;
    }
  }

  @keyframes bigBall12 {
    0% {
      bottom: -2310px;
    }
    60% {
      bottom: -70px;
    }
    100% {
      bottom: -153px;
    }
  }

  @keyframes bigBall13 {
    0% {
      bottom: -1670px;
    }
    60% {
      bottom: -150px;
    }
    100% {
      bottom: -172px;
    }
  }

  .many-types {
    padding-top: 118px;
    grid-template-columns: 1fr 50%;
    gap: 28px;
  }

  .many-types_left {
    gap: 24px;
  }

  .many-types_left h2 {
    font-size: 24px;
  }

  .many-types_left p {
    font-size: 13px;
    line-height: 24px;
  }

  .button {
    padding: 18px;
  }

  .many-types_left .button::after {
    width: 120px;
    height: 44px;
    top: calc(50% - 32px);
    right: -160px;
  }

  .many-types_item {
    padding: 24px 18px;
    gap: 18px;
  }

  .many-types_item h3 {
    font-size: 18px;
    line-height: 29px;
  }

  .many-types_item ul {
    font-size: 12px;
    line-height: 18px;
  }

  .many-types_controls {
    bottom: -49px;
  }

  .example {
    margin-top: 30px;
    padding-bottom: 30px; 
  }

  .product_row {
    padding: 0 70px 0px;
    justify-content: start;
    align-items: flex-start;
  }

  .product_row > *:not(:last-child) {
    margin-right: 0px;
  }

  .product_row .product_photo {
    max-width: 308px;
    height: 330px;
    margin-right: 26px;
    flex: 1;
    min-width: auto;
  }  

  .price_border {
    display: none;
  }

  .product_row {
    flex-wrap: wrap;
  }

  .product_text {
    max-width: 626px;
    padding-top: 11px;
  }

  .product_text h2 {
    margin-bottom: 12px;
  }

  .product_description {
    margin-bottom: 14px;
  }

  .product_characteristics {
    gap: 0;
    justify-content: start;
    grid-template-columns: 313px 250px;
  }

  .product_characteristic:first-child {
    margin-right: 63px;
  }

  .product_characteristic h3 {
    margin-bottom: 8px;
  }

  .product_characteristic ul {
    gap: 8px;
  }

  .product_price {
    margin-left: auto;
    grid-auto-flow: column;
    width: 100%;
    max-width: 626px;
    position: relative;
    top: -55px;
    gap: 43px;
    align-items: center;
  }

  .product_price .new_price {
    font-size: 30px;
  }

  .product_price .promo {
    max-width: 174px;
    padding: 17px 11px;
  }

  .example_tabs {
    padding: 0 60px;
  }

  .save-time {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
  }

  .save-time_left {
    gap: 16px;
}

  .save-time_left h2 {
    font-size: 28px;
  }

  .save-time_left p {
    font-size: 13px;
    line-height: 19px;
    max-width: 453px;
  }

  .advantages {
    margin-bottom: 40px;
  }

  .advantage {
    font-size: 16px;
    line-height: 21px;
  }

  .advantage img {
    max-height: 40px;
  }

  .tetris {
    gap: 42px;
    margin-top: 0;
  }

  .tetris_left .text-gradient {
    font-size: 18px;
  }

  .tetris_left h2 {
    font-size: 28px;
    margin-bottom: 18px;
  }

  .tetris_left p {
    font-size: 13px;
    line-height: 19px;
  }

  .tetris_left .button {
    padding: 18px 40px;
  }
 
}